.card {
    border-radius: var(--spacing-l, 12px);
    border: 1px solid var(--app-grey-100);
    background: rgba(252, 252, 252, 0.50);

    display: flex;
    padding: var(--spacing-xxl, 24px) var(--spacing-l, 12px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.card-account-text {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

.fa-solid-fa-user {
    width: 14px;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--spacing-s);
}

.icon-user {
    font-size: 1.5rem;
    color: var(--app-white-500);
    padding: 1rem;
}

.section-user-profile {
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
}

.container {
    justify-content: flex-start;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 0;
}

.disconnect-btn-container {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
}

.btn-disconnect {
    background: none;
    border: none;
    text-decoration: underline;
}

.friend-container {
    width: 100%;
}

.form-control {
    display: inline-block;
}

.add-friend-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.friend-card{
    display: flex;
    border: none;
    box-shadow: 0px 0px var(--global-blurs-blur-sm, 4px) 0px rgba(0, 0, 0, 0.10);
    margin-bottom: var(--spacing-m);
    flex-direction: row;
    justify-content: flex-start;
}

.friends-p {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.profile-bg {
    background-color: var(--app-primary-200);
    border-radius: .5rem;
}

.friend-bg {
    background-color: var(--app-secondary-100);
    border-radius: .5rem;
}

.friend-icon {
    color: var(--app-white-300);
    font-size: 1rem;
    padding: .5rem;
}

.friend-content {
    margin-left: .5rem;
}

.user-card {
    justify-content: center;
}   
