@import url('variables.css');
@import "@fortawesome/fontawesome-free/css/all.min.css";

* {
    font-family: var(--app-text-font);
    font-size: var(--app-font-size);
    color: var(--app-black-500);
    line-height: normal;
}

body {
    background: linear-gradient(to bottom left, var(--app-primary-100), var(--app-white-300), var(--app-primary-100));
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    background: no-repeat top left fixed;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
}

h1, h2, h3, h4 {
    display: inline;
}

p {
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.form-group {
    margin: 1rem 0;
}

label {
    font-size: 0.9rem !important;
    font-weight: 300;
    color: var(--app-grey-500);
}

input, textarea {
    display: block;
    height: 2.5rem;
    width: 100%;
    padding: 0.75rem 0.5rem;
    font-size: 0.9rem !important;
    border: 1px solid var(--app-grey-500);
    border-radius: var(--spacing-m);
    margin-top: 0.25rem !important;
    background-color: var(--app-primary-500) 0.5;
}

textarea {
    height: 10rem;
    margin: var(--spacing-m) 0;
}

input:focus {
    outline: solid 3px var(--app-primary-200);
    transition: all 0.25s;
}


input:hover {
    outline: solid 3px var(--app-primary-200);
    transition: all 0.25s;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    gap: 1rem;
    min-height: calc(100dvh - env(safe-area-inset-bottom));
    padding: 1.5rem;
    box-sizing: border-box;
   padding-bottom: 5rem;
}

@media (min-width: 500px) {
    .container {
        align-items: center;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    max-height: fit-content;
    width: 100%;
    max-width: 500px;

    border-radius: var(--spacing-l, 12px);
    border: 1px solid var(--app-grey-100);
    background: rgba(252, 252, 252, 0.50);
    padding: 12px;
}

.text-center {
    text-align: -webkit-center;
}

.text {
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.text-error {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--app-error-500);
    margin-left: 0.4rem;
}

.text-error:before {
    font-family: 'Font Awesome 6 Free';
    font-size: 0.7rem;
    content: '\f071';
    font-weight: 900;
    margin-right: 0.3rem;
    color: var(--app-error-500);;
}

.alert-success {
    background-color: var(--app-white-300);
    color: var(--app-success-800);
}

.alert {
    position: fixed;
    top: -90px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--app-white-300);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 12px 12px;
    padding: 1rem;
    transition: top 0.5s ease;
    animation: slide-in-out 3s ease forwards;
    text-align: center;
}

@keyframes slide-in-out {
    0% {
        top: -90px;
    }
    10%, 90% {
        top: 0;
    }
    100% {
        top: -90px;
    }
}

.divider {
    border: none;
    height: 1px;
    background-color: var(--app-grey-100);
    margin: var(--spacing-xxl) 0;
}

