.bulb {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: inline-flex;
    padding: var(--spacing-xs, 4px) var(--spacing-xl, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xs, 4px);
    flex-shrink: 0;
    width: fit-content;
    height: fit-content;
}

.info-bulb {
    border-radius: var(--spacing-xxl, 24px);
    background: var(--app-secondary-500);
}

.intox-bulb {
    border-radius: var(--spacing-xxl, 24px);
    background: var(--app-primary-500);
}

.info-bulb h1 {
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;
    color: var(--app-white-300);
}

.fa-lightbulb {
    font-size: 1.2rem;
    color: var(--app-white-300);
}

.btn-back {
    padding: .5rem;
    margin: 0;
}

.back-bar {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Écarte les éléments */
    align-items: center; /* Centre verticalement les éléments */
    position: relative;
    height: fit-content;
}

p {
    margin: 0;
}

.card {
    padding: var(--spacing-xxl);
}

.add-comment-btn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-comments {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.answers {
    display: none;
    padding-left: 2rem;
}

.btn-toggle-discussion {
    background: none;
    border: none;
    text-decoration: underline;
}

.btn-response {
    background: none;
    border: none;
    text-decoration: underline;
}

.comment {
    margin-bottom: 1rem;
}

.action-btn {
    display: flex;
    justify-content: space-between;
}

.btn {
    margin: 0;
    width: fit-content;
}

.popup-container {
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
    background: rgba(209, 188, 245, 0.40);
    backdrop-filter: blur(1.350000023841858px);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: var(--app-white-300);
    padding: var(--spacing-l);
    border-radius: var(--spacing-l);
    width: 80%;
}

.popup-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    margin-top: 1rem;
}
