.bulb {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: inline-flex;
    padding: var(--spacing-xs, 4px) var(--spacing-xl, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xs, 4px);
    flex-shrink: 0;
    width: fit-content;
    height: fit-content;
}

.info-bulb {
    border-radius: var(--spacing-xxl, 24px);
    background: var(--app-secondary-500);
}

.info-bulb h1 {
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;
    color: var(--app-white-300);
}

.fa-lightbulb {
    font-size: 1.2rem;
    color: var(--app-white-300);
}

.btn-back {
    padding: .5rem;
    margin: 0;
}

.back-bar {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Écarte les éléments */
    align-items: center; /* Centre verticalement les éléments */
    position: relative;
    height: fit-content;
}
