h1 {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.container {
    padding: 0 !important;
    justify-content: flex-start;
}

.swiper {
    width: 85dvw;
    height: 75dvh;
}

.swiper-slide {
    overflow: scroll !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--spacing-l);
    font-weight: 300;
    background-color: var(--app-white-300);
    border: 1px solid var(--app-grey-100);
    padding: var(--spacing-l);
}
