h1 {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.container {
    padding: 0 !important;
    justify-content: flex-start;
}

.swiper {
    width: 85dvw;
    height: 75dvh;
}

.swiper-slide {
    overflow: scroll !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--spacing-l);
    font-weight: 300;
    background-color: var(--app-white-300);
    border: 1px solid var(--app-grey-100);
    padding: var(--spacing-l);
}

.swiper-slide::-webkit-scrollbar {
    display: none;
}

.author {
    padding: var(--spacing-xl) 0;
    font-weight: 200;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.buttons-item {
    flex: 1 0 0;
}

.hidden {
    display: none;
}
