.card {
    display: flex;
    padding: var(--spacing-xxl, 24px) var(--spacing-l, 12px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border: solid var(--app-black) 3px;

}

.title-user-profile{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 24px;
}
.title-user-profile h1{
    margin: 0;
}

.card-account-text {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

.fa-solid-fa-user {
    width: 14px;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--spacing-s);
}

.icon-user {
    font-size: 1.5rem;
    color: var(--app-white-500);
    padding: 1rem;
}

.section-user-profile {
    width: 100%;
    min-height: calc(80dvh - env(safe-area-inset-bottom));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    justify-content: flex-start;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 0;
}

.friend-container {
    width: 100%;
}

.form-control {
    display: inline-block;
}

.add-friend-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.friend-card{
    display: flex;
    border: none;
    box-shadow: 0px 0px var(--global-blurs-blur-sm) 0px rgba(0, 0, 0, 0.10);
    margin-bottom: var(--spacing-m);
    flex-direction: row;
    justify-content: flex-start;
}

.friends-p {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.profile-bg {
    background-color: var(--app-primary);
    border-radius: .5rem;
}

.friend-bg {
    background-color: var(--app-secondary-100);
    border-radius: .5rem;
}

.friend-icon {
    color: var(--app-white-300);
    font-size: 1rem;
    padding: .5rem;
}

.friend-content {
    margin-left: .5rem;
}

.user-card {
    justify-content: center;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    min-height: 40dvh;
}

.delete-btn {
    width: 100%;
}


.friend-card{
    display: flex;
    border: none;
    margin-bottom: var(--spacing-m);
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background: none;
}


.contenaire-form{
    width: 100%;
    margin-top: 24px;
}
