@import 'reset.css';
@import 'variables.css';
@import 'components/_button.css';
@import 'components/_nav.css';
@import 'components/_link.css';


* {
    font-family: var(--app-text-font);
    font-size: var(--app-font-size);
    color: var(--app-black-500);
    line-height: normal;
}

body {
    background-color: var(--app-black-500);
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-family: var(--app-text-font-heading);
    font-size: var(--app-font-size-h1);
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
}

h1, h2, h3, h4 {
    display: inline;
}

p {
    font-size: var(--app-font-size-p2);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

label {
    font-size: 0.9rem !important;
    font-weight: 300;
    color: var(--app-grey-500);
}

input, textarea {
    display: block;
    width: 100%;
    padding: var(--spacing-l) var(--spacing-m);
    font-size: 1rem !important;
    border: 1px solid var(--app-black-20);
    border-radius: var(--spacing-m);
    margin-top: 0.25rem !important;
    background-color: var(--app-primary) 0.5;
}

textarea {
    height: 10rem;
    margin: var(--spacing-m) 0;
}

input:focus {
    outline: solid 3px var(--app-black);
    transition: all 0.25s;
}

.container {
    overflow: hidden;
    background-color: var(--app-primary);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: calc(100dvh - env(safe-area-inset-bottom));
    box-sizing: border-box;
    margin: 0 auto;
    max-width: var(--app-container-max-width);
}

@media (min-width: 500px) {
    .container {
        align-items: center;
    }
}

.text-error {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--app-error-500);
    margin-left: 0.4rem;
}

.text-error:before {
    font-family: var(--app-text-font-icon);
    font-size: 0.7rem;
    content: '\f071';
    font-weight: 900;
    margin-right: 0.3rem;
    color: var(--app-error-500);
}

.alert-success {
    background-color: var(--app-white-300);
    color: var(--app-success-800);
}

.alert {
    position: fixed;
    top: -90px;
    z-index: 9000;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--app-white-300);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 12px 12px;
    padding: 1rem;
    transition: top 0.5s ease;
    animation: slide-in-out 3s ease forwards;
    text-align: center;
}

@keyframes slide-in-out {
    0% {
        top: -90px;
    }
    10%, 90% {
        top: 0;
    }
    100% {
        top: -90px;
    }
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

