h1 {
    padding: 1.5rem 1.5rem 0 1.5rem;
}


.swiper {
    width: 100%;
    height: 50%;
}

.swiper-slide {
    overflow: scroll !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--spacing-l);
    font-weight: 300;
    background-color: var(--app-white-300);
    border: 1px solid var(--app-grey-100);
    /* padding: var(--spacing-l); */
}

.swiper-slide::-webkit-scrollbar {
    display: none;
}

.author {
    padding: var(--spacing-xl) 0;
    font-weight: 200;
}

.form {
    padding-top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    gap: 1.5rem;
    position: relative;
    align-content: space-around;
    flex-wrap: wrap;
    top: -40px;
}

.buttons-item {
    flex: 1 0 0;
    width: 100%;
}

.hidden {
    display: none;
}

.link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--spacing-xxl) 0;

}

input {
    opacity: 0;
}


.form-buttons .labelInfo:hover {
    background-color: #2399F3;
}

.form-buttons .labelInfo:hover p em {
    color: white;
}

.form-buttons .labelInfo p em {
    color: #2399F3;
}

.form-buttons .labelInfo {
    background-color: transparent;
    border: 1px solid #2399F3;
}


.form-buttons label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 0.5rem;
    min-width: 40px;
    width: 45%;
    height: 56px;
}

label p em {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}


.form-buttons label img {
    width: 26px;
    height: 26px;
}


.form-buttons .labelIntox {
    background-color: transparent;
    border: 1px solid #6420DF;
}

.form-buttons .labelIntox p em {
    color: #6420DF;
}

.form-buttons .labelIntox:hover {
    background-color: #6420DF;
}

.form-buttons .labelIntox:hover p em {
    color: white;
}

.form-buttons label .notfocus {
    display: block;
}

.form-buttons label .focus {
    display: none;
}

.form-buttons label:hover .focus {
    display: block;
}

.form-buttons label:hover .notfocus {
    display: none;
}


.contenaireInformationVote {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bulb {
    position: relative; /* Facultatif si déjà bien placé */
    display: inline-flex;
    padding: var(--spacing-xs) var(--spacing-xl); /* Plus d'espace */
    justify-content: center;
    align-items: center;
    gap: var(--spacing-s);
    border-radius: var(--spacing-xxl);
    background-color: var(--app-secondary-500);
    max-width: 80%; /* Empêche de déborder */
    text-align: center;
}

.bulb img {
    width: 26px;
    height: 26px;
}

.info-bulb {
    border-radius: var(--spacing-xxl);
    background: var(--app-secondary-500);
}

.intox-bulb {
    border-radius: var(--spacing-xxl);
    background: var(--app-primary);
    color: white;

}

.info-bulb h1 {
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;
    padding: 0;
    color: var(--app-white-300);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}


.intox-bulb h1 {
    margin-bottom: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.bg-blue {
    background-color: #007BFF; /* Bleu */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    display: inline-block;
    margin-top: 0.5rem;
}

.bg-purple {
    background-color: #6F42C1; /* Violet */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    display: inline-block;
    margin-top: 0.5rem;
}


.reponse em {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;

}

.reponse {
    display: flex;
    align-items: center;
    gap: 4px;
}

.textContenaire .pourcent {
    font-size: 18px;
}


.contenaireInformationVote {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 0.25rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border-radius: 50px;
}

.textContenaire {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.contenaireinfoResultAndVote {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.intox-contenaire {
    background: linear-gradient(0deg, rgba(218, 236, 253, 0) 0%, rgba(223, 209, 249, 1) 90%);
}

.info-contenaire {
    background: linear-gradient(0deg, rgba(0, 212, 255, 0) 0%, rgba(218, 236, 253, 1) 90%);
}


.CardContent {
    width: 100%;
    height: 100%;
    padding: 24px;

}


.contenaireCountMistake {
    display: flex;
    flex-direction: column;
}
