.btn {
    display: flex;
    padding: 0.5rem 1.375rem;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border: 1px solid transparent;
    margin: 24px 0;

}

.btn:focus {
    outline: solid 3px var(--app-black);
    transition: all 0.25s;
}

.btn:hover {
    outline: solid 3px var(--app-black);
    transition: all 0.25s;
    cursor: pointer;
}

/* BUTTON FILLED STYLES */
.btn-fill-primary {
    background-color: var(--app-black);
    color: var(--app-primary);
    --btn-color: var(--app-primary);
}

.btn-fill-secondary {
    background-color: none;
    color: var(--app-black);
    --btn-color:none;
}

.btn-fill-grey {
    background-color: var(--app-grey-500);
    color: var(--app-primary);
    --btn-color: var(--app-grey-500);
}

.btn-fill-error {
    background-color: var(--app-error-500);
    color: var(--app-primary);
    --btn-color: var(--app-error-500);
}
/* LABEL */
.btnLabel {
    color: inherit;
}

/* Exemple pour les boutons remplis */
.btn-fill-primary .btnLabel {
    color: var(--app-primary); /* Couleur du texte pour le bouton primaire rempli */
}

.btn-fill-secondary .btnLabel {
    color: var(--app-black); /* Couleur du texte pour le bouton secondaire rempli */
}

.btn-fill-grey .btnLabel {
    color: var(--app-primary); /* Couleur du texte pour le bouton gris rempli */
}

.btn-fill-error .btnLabel {
    color: var(--app-primary); /* Couleur du texte pour le bouton erreur rempli */
}

/* Exemple pour les boutons outline */
.btn-outlined .btnLabel {
    color: var(--btn-color); /* Texte utilise la couleur définie pour le bouton outline */
}


/* BUTTON OUTLINED */
.btn-outlined {
    background-color: transparent;
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
}

/* BUTTON SIZES */
.btn-size-small {
    height: 1.5rem;
    padding: 0.20rem 0.5rem;
}

.btn-size-medium {
    height: 2rem;
    padding: 0.45rem 1rem;
}

.btn-size-large {
    height: 2.5rem;
    padding: 0.70rem 1.5rem;
}

/* FULL-WIDTH BUTTON */
.btn-expand {
    display: block;
    width: 100%;
}

/* ICON */
.icon {
    color: var(--app-white-400);
}

.icon-start {
    margin-right: 0.25rem;
}

.icon-end {
    margin-left: 0.25rem;
}

.btn-outlined .icon {
    color: var(--btn-color);
}

/* Supprime les marges si aucune étiquette (label) n'est présente */
.btn:not(:has(span, .btnLabel)) .icon-start,
.btn:not(:has(span, .btnLabel)) .icon-end {
    margin: 0; /* Pas de marge si pas de label */
}

/* Ajoute des marges si une étiquette (label) est présente */
.btn:has(span, .btnLabel) .icon-start {
    margin-right: 0.25rem;
}

.btn:has(span, .btnLabel) .icon-end {
    margin-left: 0.25rem;
}

.btn:not(:has(.btnLabel)):has(.icon-start):not(:has(.icon-end)),
.btn:not(:has(.btnLabel)):has(.icon-end):not(:has(.icon-start)) {
    padding: 0.5rem 1rem; /* Padding réduit pour une icône seule */
}

/* CLEAR*/
.btn-clear {
    background-color: transparent;
    color: var(--btn-color);
    text-decoration: underline;
    border: none;
    box-shadow: none;
}

.btn-clear .btnLabel {
    color: inherit;
}
