/*.nav-button {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    text-decoration: none;*/
/*    color: var(--app-primary);*/
/*    min-height: 72px;*/
/*    min-width: 72px;*/
/*    padding: var(--spacing-l);*/
/*}*/

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--app-black);
    min-height: 43px;
    min-width: 68px;
    padding: var(--spacing-l);
    margin-bottom: var(--spacing-s);
    margin-top: var(--spacing-s);
    outline: 2px solid var(--app-primary);
}

.navbar .nav-button:nth-child(-n+2) {
    transform: skew(-16deg);
}

.navbar .nav-button:nth-child(-n+2) *{
    transform: skew(16deg);
}

.navbar .nav-button:nth-child(n+3) {
    transform: skew(16deg);
}

.navbar .nav-button:nth-child(n+3) *{
    transform: skew(-16deg);
}

.nav-button .icon {
    font-size: 1.5rem;
    /*margin-bottom: 0.5rem;*/
    color: var(--app-primary);
}

.nav-button .label {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--app-primary);
}

.nav-button.active {
    background: var(--app-primary);
    outline: none;
    margin-bottom: var(--spacing-l);
    margin-top: 0;
}

.nav-button.active .icon {
    color: var(--app-primary);
}

.nav-button.active .label {
    color: var(--app-primary);
}

.navbar {
    position: fixed;
    top: calc(100dvh - env(safe-area-inset-bottom) - 57px);
    left: 0;
    height: 57px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: var(--app-black);
    box-shadow: 0 0 var(--spacing-xl, 16px) 5px rgba(0, 0, 0, 0.10);
    z-index: 1;
}

.nav-button .nav-indicator {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color:  var(--app-primary);
    border-radius: 5px;
}

.nav-button.active .nav-indicator {
    width: 100%;
    left: 0;
    transform: translateX(0);
}


